# Ignore all node_modules
node_modules/*

# Compiled JS
public/0.bundle.js
public/1.bundle.js
public/2.bundle.js
public/3.bundle.js
public/4.bundle.js
public/5.bundle.js
public/main.bundle.js
public/manifest.bundle.js
public/vendor.bundle.js




# NPM errors
npm-debug.log

# OSX
.DS_Store
secrets.js
